name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:11
        ports: ['5432:5432']
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Run rubocop & tests
      env:
        DATABASE_ADAPTER: postgresql
        DATABASE_NAME: huginn_development
        DATABASE_USERNAME: postgres
        DATABASE_PASSWORD: ""
        DATABASE_HOST: localhost
        DATABASE_PORT: 5432
      run: |
        gem install bundler:1.17.3
        bundle install --jobs 4 --retry 3
        bundle exec rubocop .
        bundle exec rake
